.btn {
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.dawg h1 .small {
	font-size: 0.35em;
	color: #bbb;
}

.hand-stats {
	h4 {
		margin-bottom: 0;
	}

	.cards {
		display: flex;
		justify-items: start;
		flex-wrap: wrap;
	}

	.card {
		width: 4em;
		margin: 5px;
		transition: border-color, box-shadow 0.5s;
	}

	.valid-play {
		border-color: #fd5;
	}

	.valid-play:hover {
		box-shadow: 0px 0px 5px #fd5;
	}

	.valid-play:active {
		box-shadow: 0px 0px 5px  #f88;
		border-color: #f88;
		transition: none;
	}
}

