body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.dawg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	h1, h2, h3, h4 {
		margin-top: 0;
	}

	h4 {
		margin-bottom: 0;
	}

	h1 .small {
		font-size: 0.35em;
		color: #bbb;
	}

	section:not(:last-child) {
		margin-bottom: 1em;
	}
}

.btn {
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.cards--empty {
	justify-content: center;
}

.card {
	flex: 0 0 auto;
	width: 4em;
	margin: 5px;
}

.hand-stats {
	.card {
		transition: border-color, box-shadow 0.5s;
	}

	.valid-play {
		border-color: #fd5;
	}

	.valid-play:hover {
		box-shadow: 0px 0px 5px #fd5;
	}

	.valid-play:active {
		box-shadow: 0px 0px 5px  #f88;
		border-color: #f88;
		transition: none;
	}
}

.in-play {
	max-height: 8em;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	overflow: hidden;

	.cards {
		overflow: auto;
		border: 1px solid lightgrey;
	}
}

.game-log {
	flex: 1 1 auto;
	overflow-y: auto;
	border: 1px solid lightgrey;
	min-height: 5em;

	.log-message {
		padding: 5px;
	}

	.log-message:nth-child(even) {
		background-color: #eee;
	}
}
